<template>
  <div class="dashboard-home">
    <v-data-map :bubbles="datacenters" :data="stats"/>
  </div>
</template>

<script>
import VDataMap from '@/components/DataMap.vue';
import datacenters from '@/servers/mock/datacenters.json';
import stats from '@/servers/mock/stats.json';

export default {
  name: 'DashboardHome',
  components: {
    VDataMap
  },
  data () {
    return {
      datacenters,
      stats,
    }
  }
}
</script>
