<template>
  <div>
    <h2 class="title">Data Centers Usage</h2>
    <div class="map" :ref="ref"/>
  </div>
</template>


<script>
import * as Datamap from "datamaps";

export default {
  name: "v-data-map",
  props: {
    /**
     * Countries data provided for Datamap
     */
    data: {
      type: Object,
      required: false,
      default () {
        return {}
      }
    },
    /**
     * Bubbles data to pass to Datamap
     */
    bubbles: {
      type: Array,
      required: false,
      default () {
        return []
      }
    }
  },
  computed: {
    /**
     * Ref name for datamap container
     */
    ref () {
      return `v-datamap-${this._id}`;
    },
    /**
     * Datamap options
     */
    datamap () {
      const element = this.$refs[this.ref];

      return {
        scope: 'world',
        height: 330,
        width: 800,
        element,
        geographyConfig: {
          popupOnHover: true,
          highlightOnHover: true,
          popupTemplate: function (geo, data) {
            return data
              ? `<div class=hoverinfo><strong>${geo.properties.name}</strong> ${data.number} users</div>`
              : `<div class=hoverinfo><strong>${geo.properties.name}</strong></div>`
          }
        },
        fills: {
          defaultFill: 'e6e4db',
          LOW: '#1034A633',
          MEDIUM: '#1034A666',
          HIGH: '#1034A6FF',
          BUBBLE: 'RED',
        },
        data: this.mappedData
      };
    },
    /**
     * Mapped data to provide for Datamap
     */
    mappedData () {
      let data = {}

      Object.keys(this.data).forEach(item => {
        data[item] = this.data[item]
        if (data[item].number < 10) {
          data[item].fillKey = 'LOW'
        } else if (data[item].number < 100) {
          data[item].fillKey = 'MEDIUM'
        } else {
          data[item].fillKey = 'HIGH'
        }
      })
      return data
    },
    /**
     * Mapped bubbles to provide for Datamap.bubbles
     */
    mappedBubbles () {
      return this.bubbles.map(bubble => {
        return {
          radius: 5,
          fillKey: 'BUBBLE',
          ...bubble
        }
      })
    },
    /**
     * Mapped bubbles' options to provide for Datamap.bubbles
     */
    bubblesOptions () {
      return {
        popupTemplate: function (bubble) {
          return `<div class="hoverinfo"><strong>${bubble.name}</strong></div>`
        }
      }
    },
    /**
     * Mapped arches to provide for Datamap.arc
     */
    mappedArc () {
      let countries = Object.keys(this.data).filter(country => {
        return this.bubbles.find(bubble => bubble.centered === country) === undefined
      })
      
      return countries.map(country => {
        return {
          origin: country,
          destination: this.data[country].datacenter,
        }
      })
    },
    /**
     * Mapped arches' options to provide for Datamap.arc
     */
    arcOptions () {
      return {
        strokeWidth: 2,
        arcSharpness: 0.5,
      }
    }
  },
  mounted() {
    this.drawMap();
  },
  methods: {
    /**
     * Draw datamap into the referenced container
     */
    drawMap() {
      const datamap = new Datamap(this.datamap);
      datamap.bubbles(this.mappedBubbles, this.bubblesOptions);
      datamap.arc(this.mappedArc, this.arcOptions);
    }
  }
};
</script>

<style lang="sass">
.title
  width: 800
  margin: auto
  text-align: center
  padding: 12px
  color: #666
.map
  background-color: #fff
  border: 2px solid #ccc
  border-radius: 5px
  height: 330px
  width: 800px
  display: block
  position: relative
  margin: auto
  padding: 12px
</style>
